body {
    background-color: #ffffff;
    color: #000000;
    overflow: auto;
    margin: 0;
    padding-top: 4.5rem;
}

th, td.nr {
    background-color: #646565;
    color: #ffffff;
}

a.n {
    /* nauczyciel */
    color: #600000
}

a.s {
    /* sala */
    color: #600000
}

a.k {
    /* klasa */
    color: #000099
}

.p {
    /* przedmiot */
    color: #000000;
    font-weight: bold
}

.op {
    /* napis */
    font: 10px verdana, sans-serif
}

@media print {
    .tabtytul {
        /* nag³ówek do druku */
        display: none
    }
}